<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='title.css')}}">
</head>
<body>
    <div class="student">
        <center><h1>Admin Grievences And Applications</h1></center>
        </div>
        <div style="text-align:center;">
        <a href="{{url_for('adregistration')}}"><button class="btnstyle">Admin Register</button></a>
        <a href="{{url_for('adlogin')}}"><button class="btnstyle">Admin Login</button></a>
        </div>
</body>
</html>