{% extends 'adminhomepage.html' %}
{% block addcss %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='application.css')}}">
{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="title">Application Form</h2>
          <div class="form-group">
            <label for="name of the candidate">Name Of The Candidate:</label>
            <input type="text" id="name" name="name" value="{{name}}" readonly>
          </div>
          <div class="form-group">
            <label for="candidate father's name">Candidate Father's Name:</label>
            <input type="text" id="fname" name="fname" value="{{fname}}" readonly>
          </div>
          <div class="form-group">
            <label for="religion">Religion:</label>
            <input type="text" id="religion" name="religion" value="{{religion}}" readonly>
          </div>
          <div class="form-group">
            <label for="nationality">Nationality:</label>
            <input type="text" id="nationality" name="nationality" value="{{nationality}}" readonly>
          </div>
          <div class="form-group">
            <label for="caste">Caste:</label>
            <input type="text" id="caste" name="caste" value="{{caste}}" readonly>
          </div>
          <div class="form-group">
            <label for="pysically handicaped">Pysically Handicaped:</label>
            <input type="text" id="handicaped" name="handicaped" value="{{handicaped}}" readonly>
          </div>
          <div class="form-group">
            <label for="address of candidate">Address Of Candidate:</label>
            <input type="text" id="address" name="address" value="{{address}}" readonly>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{email}}" readonly>
          </div>
          <div class="form-group">
            <label for="10th class marks/cgpa">10th Class Marks/CGPA:</label>
            <input type="number" id="tmarks" name="tmarks" value="{{tmarks}}" readonly>
          </div>
          <div class="form-group">
            <label for="inter marks/cgpa">Inter Marks/CGPA:</label>
            <input type="number" id="imarks" name="imarks" value="{{imarks}}" readonly>
          </div><br>
          <a href="{{url_for('adviewapplication')}}"><button>back</button></a>
      </div>
{% endblock %}