<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='complaint.css')}}">
</head>
<body>
    <div class="container">
        <h2 class="title">Application Status</h2>
          <div class="form-group">
            <label for="complaint status">Application Status:</label>
            <input type="text" id="status" name="status" value="{{status}}">
          </div><br>
          <a href="{{url_for('viewapplication')}}"><button>back</button></a>
    </div>
</body>
</html>